body {
  margin: 0;
  font-family: "Courier New",'Courier New', Courier, monospace i react-particles-js;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #72c286 0%, #afeb9d 100%);
}
button {
  cursor: pointer;
}
.center{
  display: flex;
  justify-content: center;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
